[defaults]
collections_path = .
inventory = inventories/school/hosts.yaml
vault_password_file = .ansible-vault-pass.txt

#stdout_callback = default
display_skipped_hosts = no
deprecation_warnings = no
